Datasets/Internet_Penetracion_trismetre4.csv
Datasets/Metadatos_PBI.xlsx
Datasets/PBI.xlsx
Datasets/velocidad_internet_promedio.csv
Conclusiones del analisis.md
Data Analizada.ipynb
dashboard/internet.pbix